@using Microsoft.AspNetCore.Identity
@using Couresework.Data
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ApplicationDbContext db
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<MultiLanguage> langLocalizer
@model Review

<script type="module">
    import Tags from "https://cdn.jsdelivr.net/npm/bootstrap5-tags@1/tags.min.js";
    Tags.init();
</script>

@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string authorId;
    var userId = UserManager.GetUserId(User);
    var isAdmin = db.UserRoles.FirstOrDefault(obj => obj.UserId == userId && obj.RoleId == "0");
    if (isAdmin != null)
    {
        authorId = Convert.ToString(ViewData["userID"]);
    }
    else
    {
        authorId = userId;
    }
    var TAGS = new MultiSelectList(TagsRepository.Tags);
}
@{
    string theme = "light";

    if(Context.Request.Cookies.ContainsKey("theme"))
    {
        if(Context.Request.Cookies["theme"] == "dark")
        {
            theme = "dark";
        }
        
    }
}
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-action="CreateReview" asp-controller="ReviewManipulating" asp-route-authorId="@authorId" asp-antiforgery="true" runat="server" class="needs-validation" enctype="multipart/form-data"  novalidate>
            <div class="form-floating mb-3 needs-validation" novalidate>
                <input type="text" class="form-control @theme" placeholder="Leave a comment here" id="validationCustom01" required asp-for="Name" />
                <label for="validationCustom01">@langLocalizer["Topic"]</label>
            </div>
            <div class="form-floating mb-3 ">
                <input type="text" class="form-control @theme" placeholder="Leave a comment here" id="validationCustom02" required asp-for="Group" />
                <label for="validationCustom02">@langLocalizer["Group"]</label>
            </div>
            <div class="mb-3 @theme">
                <select class="form-select @theme" id="validationCustom03" placeholder=@langLocalizer["RevTags"] name="_tags" data-allow-clear="true" multiple data-allow-new="true" asp-for="Tags">
                    <option disabled hidden>Default</option>
                    @foreach (var item in TagsRepository.Tags)
                    {
                        <option class="@theme" value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control @theme" placeholder="Leave a comment here" id="validationCustom04" required style="height: 100px" asp-for="ReviewText"></textarea>
                <label for="validationCustom04">@langLocalizer["Review"]</label>
            </div>
            <div class="mb-3">
              <label for="formFileMultiple" class="form-label">@langLocalizer["Images"]</label>
              <input class="form-control" type="file" id="formFileMultiple" asp-for="ImagesURLs" name="_imagesURLs" accept=".jpg, .jpeg, .png" multiple>
            </div>
            <select class="form-select mb-3 @theme" id="validationCustom05" asp-for="Rating" required>
                <option selected disabled value="">@langLocalizer["Rating"]</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
            <div class="form-floating @theme">
                <button type="submit" class="btn btn-outline-primary">@langLocalizer["Sumbit"]</button>
            </div>
        </form>
    }
    else
    {
        <div class="main-part">
            <a>Access Declined</a>
        </div>
    }
</div>